body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../assets/Untitled design.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 115vh;
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  
}

.login-card h2 {
  margin-bottom: 1rem;
}

.login-card label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.login-card input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-card button {
  width: 80%;
  padding: 0.7rem;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #0056b3;
}
